.button {
  @include flex(center, center);

  border-radius: 3px;
  color: var(--color-white);
  font-family: var(--font-family-alt);

  &--primary {
    background-color: var(--color-primary);
    padding: 4px 12px;
    min-height: 30px;
    text-transform: uppercase;
  }

  &--secondary {
    background-color: var(--color-secondary);
    padding: 6px 12px;
    text-transform: capitalize;

    &:hover {

      .button {

        &__text {
          text-decoration: underline;
        }
      }
    }
  }
}
