mixin slider
  .slider&attributes(attributes)
    .slider__slide
      img(src="https://neospor.joomlatema.net/images/sampledata/slider-images/slide-picture-2.jpg").slider__img
      .slider__content
        .slider__block
          .slider__title Neosport Template
        .slider__block
          .slider__subtitle Subtitle
        .slider__block
          +button('Read More').button--secondary
    .slider__slide
      img(src="https://neospor.joomlatema.net/images/sampledata/slider-images/slide-picture-3.jpg").slider__img
      .slider__content
        .slider__block
          .slider__title Neosport Template
        .slider__block
          .slider__subtitle Subtitle
        .slider__block
          +button('Read More').button--secondary
    .slider__slide
      img(src="https://neospor.joomlatema.net/images/sampledata/slider-images/slide-picture-4.jpg").slider__img
      .slider__content
        .slider__block
          .slider__title Neosport Template
        .slider__block
          .slider__subtitle Subtitle
        .slider__block
          +button('Read More').button--secondary
