mixin bet-nav
  .bet-nav&attributes(attributes)
    .bet-nav__wrapper
      a.bet-nav__link
        i.bet-nav__icon
          svg(width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M7 11.0404L2.67376 13.3148L3.5 8.49745L0 5.0858L4.83688 4.38296L7 0L9.16312 4.38296L14 5.0858L10.5 8.49745L11.3262 13.3148L7 11.0404Z' fill='#F1CB62')
        span Submenu
      a.bet-nav__link
        i.bet-nav__icon
          svg(width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M7 11.0404L2.67376 13.3148L3.5 8.49745L0 5.0858L4.83688 4.38296L7 0L9.16312 4.38296L14 5.0858L10.5 8.49745L11.3262 13.3148L7 11.0404Z' fill='#F1CB62')
        span Submenu
      a.bet-nav__link
        i.bet-nav__icon
          svg(width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M7 11.0404L2.67376 13.3148L3.5 8.49745L0 5.0858L4.83688 4.38296L7 0L9.16312 4.38296L14 5.0858L10.5 8.49745L11.3262 13.3148L7 11.0404Z' fill='#F1CB62')
        span (0)
      a.bet-nav__link.js-bet-nav-link
        i.bet-nav__icon
          svg(width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M7 11.0404L2.67376 13.3148L3.5 8.49745L0 5.0858L4.83688 4.38296L7 0L9.16312 4.38296L14 5.0858L10.5 8.49745L11.3262 13.3148L7 11.0404Z' fill='#F1CB62')
        span Tennis
