include ../components/index
include ../sections/index
include ../partials/index

doctype html
html
  head
    include _head
  body
    .pattern
      +top
      +nav
      +header#header
      block content
      +footer#footer
      +modal-login#modal-login
      +modal-registration#modal-registration
    .settings
      .settings__item(data-color="azure" style="background: #21cdc0").js-settings-item
      .settings__item(data-color="yellow" style="background: #f2c300").js-settings-item
      .settings__item(data-color="dark" style="background: #151f28").js-settings-item
      .settings__item(data-color="wide").js-settings-item
        i.fas.fa-arrows-alt-h

    style.
      .settings {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: #fff;
        z-index: 9;
      }

      .settings__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin: 10px 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }

    script(src="./js/custom.js")
