.bet-league {
  margin-bottom: 1px;

  &:last-child {
    margin-bottom: 0;
  }

  &__category {
    @include flex($align-items: center);
    @include size(100%, 35px);

    transition: 0.3s;
    opacity: 0.8;
    background-color: var(--color-secondary);
    cursor: pointer;
    padding: 0 11px 0 15px;
    font-size: 13px;

    &:hover {
      opacity: 1;
    }
  }

  &__text {
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--color-white);
  }
}
